html, body {
	height: 100%;
	min-height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
}

body {
	background: url("../images/denim.png") #333333;
}

nav {
	float: right;
	width: 75%;
	font-size: 90%;

	li {
		float: left;
		width: 16.666666667%;

	}

	a,a:visited {
		color: #FFFFFF;
	}

	a {
		display: block;
		text-align: center;
		line-height: 40px;
		background: #454545;
		border-right: solid 1px #222;

		&:hover {
			color: #FFFFFF;
			background: #666666;
			text-decoration: none;
		}
	}
}

li:hover .sub-menu {
	display: block;
}

header {
	width: 25%;
	top: 0;
	bottom: 0;
	float: left;

}

.logo {
	width: 160px;
	display: block;
	margin: 1.5em auto 0;

}

.church-name {
	color: #fff;

	margin-bottom: 1em;
	text-transform: uppercase;
	width: 100%;
	min-height: 1px;

	div {
		width: 114px;
		margin: 0 auto;
		margin-top: -14px;
		text-align: right;
	}

}

.sidebar {
	width: 25%;
	border-top: dashed 2px rgba(#FFF, 0.2);
	padding: 0;
	margin:  1em 0 0 0;
	clear: left;
}

.widget {
	width: 100%;
	font-size: 85%;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	border-bottom: dashed 2px rgba(#FFF, 0.2);
	color: darken(#fff, 20%);

	h4 {
		margin: 0 0 0.5em 0;
		color: lighten(#333,40%);
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-bottom: 0.4em;
	}

	a {
		display: block;
	}

	a, a:visited {
		color: darken(#fff, 20%);
		text-decoration: none;
	}

	a:hover {
		background: rgba(#FFF, 0.2);
	}
}


.wrap {
	width: 75%;
	float: right;
	background: url("../images/wood.png") #fefefe;
}

.content {
	padding: 20px;
	width: 95%;
	margin: 2.5%;
	float: right;

}

.entry {
	padding: 0 20px;
}
