/* TAGS & CLASSES */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	@include journey-mq($bp-tablet) {
		height: 100%;
		min-height: 100%;
	}

	@include journey-mq($bp-larger-still) {
		background: url('../images/tulip.jpg');
	}
}

body {

	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

}



a, a:visited { color: $primary; text-decoration: none;  }

a:hover { text-decoration: underline; }

p {
	margin: 0 0 20px;
}

small {
	font-size: 80%;
}

.wp-caption {
	max-width: 100%;
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* WORDPRESS */
.alignleft { float: left; margin: 0 20px 0 0; }
.alignright { float: right; margin: 0 0 0 20px; }
.aligncenter { display: block; margin: 0 auto; }
a.more-link {  }

/* COMMON LAYOUT */

.master-wrap {
	background: #A5997E;
	overflow: hidden;

	@include journey-mq($bp-larger) {
		background: url("../images/denim.png") #333333;
	}

	@include journey-mq($bp-larger-still) {
		max-width: 1680px;
		margin: 0 auto;
		@include box-shadow(0 0 20px rgba(#000, 0.5));
	}
}

.wrap {
	@include journey-mq( $bp-larger ) {
		width: 75%;
		float: right;
		background: #A5997E;
	}
}


/* POSTS */
.wp-pagenavi { margin: 0 0 25px; }

/* WIDGETS */
