footer {
	background: url('../images/tulip.jpg');
	padding: 0;
	clear: both;
	color: #fff;
	overflow: auto;

	@include journey-mq($bp-larger-still) {
		background: transparent;
	}

}

.copyright {
	background: #454545;
	text-align: right;
	padding: 5px 40px;
	text-transform: uppercase;
}

.footer-widgets {
	margin: 0 1em;
}

.footer-menu {
	font-size: 120%;

	@include journey-mq( $bp-larger-mobile ) {
		font-size: 100%;
	}

	&::before {
		content: "Main Menu";
		@include journey-mq( $bp-larger-mobile ) {
			content: '';
		}
	}

	a, a:visited {
		color: #eee;
	}
}

.footer-menu {
	clear: both;
	width: 100%;
	background: #454545;
	line-height: 2;
	padding: 0 1em;
}

.footer-menu-ul {
	li {
		@include journey-mq( $bp-larger-mobile ) {
			display: inline-block;
			margin-right: 20px;
		}
	}
}
