header {

	position: relative;
	border-top: solid 4px #333;
	border-bottom: #555 solid 8px;
	overflow: hidden;
	margin-bottom: 40px;

	@include journey-mq( $bp-larger-mobile ) {
		border: none;
	}

	@include journey-mq( $bp-larger ) {
		width: 25%;
		top: 0;
		bottom: 0;
		float: left;
		margin-bottom: 0;
	}

}

.logo {
	display: none;

	@include journey-mq( $bp-larger ) {
		width: 160px;
		display: block;
		margin: 1.5em auto 0;
	}

	img {
		max-width: 100%;
	}
}

.mobile-logo {
	display: block;
	background: #333;
	text-align: center;
	line-height: 60px;
	padding-right: 33px;

	.cross {
		float: left;
		margin: 5px 0 0 5px;
	}

	.name {
		text-align: center;
		height: 40px;
		width: auto;

	}

	@include journey-mq( $bp-larger ) {
		display: none;
	}

}

.church-name {
	color: #fff;
	text-align: center;
	font-size: 120%;
	padding: 0.2em 0;
	background: #2c2c2c;

	@include journey-mq( $bp-larger ) {
		margin-bottom: 1em;
		text-transform: uppercase;
		width: 100%;
		min-height: 1px;
		padding: 0;
		background-color: transparent;

		div {
			width: 114px;
			margin: 0 auto;
			margin-top: -14px;
			text-align: right;
		}
	}

}