//Breakpoints
$journey-no-mq-support: false !default;
$bp-larger-mobile: 769px; // setting this  from 650px to the same size as tablet to effectively nullify those views
$bp-tablet: 769px;
$bp-larger: 1024px;
$bp-larger-still: 1100px;

// Colors
$orange: #CC6700;

$primary: $orange;

@mixin journey-mq($query) {
  @if $journey-no-mq-support {
      @content;
  } @else {
    @media ( 'min-width:' + $query ) {
      @content;
    }
  }
}