p, ul {
	font-size: 120%;
}

header {
	border-bottom: #555 solid 8px;
	overflow: hidden;
	margin-bottom: 40px;
}

.logo {
	display: none;
}

.mobile-logo {
	display: block;
	background: #333;
	text-align: center;
	line-height: 60px;
	padding-right: 33px;

	.cross {
		float: left;
		margin: 5px 0 0 5px;
	}

	.name {
		text-align: center;
		height: 40px;
		width: auto;

	}
}

h1, .title {
	margin-top: -30px;
}

.entry {

	padding: 0 4% 4%;
}

textarea {
	width: 100%;
}
