.main-menu {
	background: #333;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.2s linear;
	-moz-transition: height 0.2s linear;
	-ms-transition: height 0.2s linear;
	-o-transition: height 0.2s linear;
	transition: height 0.2s linear;
	text-transform: uppercase;

	ul > li:first-child {
		a {
			background: #CC6700;

			&:hover {
				background: lighten(#CC6700,5%);
			}
		}
	}

	a, a:visited, .sub-menu a:first-child {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #fff;
			background: #666;
			text-decoration: none;
		}
	}

	a {
		display: block;
		line-height: 45px;
		padding: 0 20px;
		border-bottom: 1px solid #666666;
	}

	@include journey-mq( $bp-larger-mobile ) {
		height: auto;
		li {
			float: left;
			width: 16.666666667%;

		}

		a,a:visited {
			color: #FFFFFF;
		}

		a {
			display: block;
			text-align: center;
			line-height: 40px;
			background: #454545;
			border-right: solid 1px #333;
			border-left: solid 1px #666;
			padding: 0;
		}
	}

	@include journey-mq( $bp-larger ) {
		float: right;
		width: 75%;
		font-size: 90%;
	}

	&.open {
		height: auto;
	}

}

.sub-menu {
	display: none;
	position: absolute;
	z-index: 999;
	width: auto;
	@include box-shadow(10px 10px 10px 0 rgba(#333,0.75));

	@include journey-mq( $bp-tablet ) {
		li:hover & {
			display: block;
		}
	}

	li {
		display: block;
		float: none;
		width: 100%;

	}

	a, a:visited {
		background: #555;
		padding: 1px 15px;
		text-align: left;
		border: none;
	}

	a:hover {
		background: lighten(#555,5%);
		border: dashed 1px lighten(#555,20%);
		padding: 0 14px;
	}
}

.toggle-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 60px;
	height: 60px;
	background: #333333 center no-repeat;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYAQMAAACods0NAAAAA3NCSVQICAjb4U/gAAAABlBMVEX////b2+r2DR4dAAAAAnRSTlMAiJXwxioAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAVdEVYdENyZWF0aW9uIFRpbWUAMi8yMy8xM2aXrxYAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAFElEQVQImWP4DwQfGDBJYgAN9AIAn2g7EVkEDusAAAAASUVORK5CYII=");

	@include journey-mq($bp-larger-mobile) {
		display: none;
	}
}