.secondary {
	margin: 0 1.25em;
	background: url("../images/denim.png") #333333;
	color: #fff;
	padding: 2em 1em 1em;

	@include journey-mq( $bp-larger ) {
		width: 25%;
		padding: 0;
		margin:  1em 0 0 0;
		clear: left;
		font-size: 85%;
		margin: 0 auto;
		overflow: hidden;
		padding: 20px;
		color: #eee;
	}
}
